bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/

.vscode/

.idea/
.idea_modules/
*.sln.iml

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.dbmdl
*.jfm

.DS_Store

*.log
*.tlog
*.log2
*.out
*.pid
*.tmp
*.temp
*.dmp

TestResults/
coverage/
*.coverage
*.coveragexml

*.dll
*.exe
*.app
*.so
*.dylib
*.pdb

*.nupkg
*.snupkg
.nuget/
packages/
!packages/repositories.config

.terraform
.env

*.mdf
*.ldf
*.ndf

appsettings.*.json
secrets.json

.vs/
_ReSharper.Caches/
.idea/

*.swp
*.bak
*.tmp
